extends layout

block content
  div.row
    div.col-5
      div.card
        div.card-header Edit Item
        div.card-body
          form(action=`/item/edit/${item.id}` method="post")
            div.mb-3
              label.form-label(for="description") Item Description
              input.form-control(type="text" name="description" id="description" value=`${item.description}`)
            button.btn.btn-success(type="Submit") Update Item

