doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        div.container
          h3 Todo App



    div.container
      block content
