extends layout

block content
  div
    h1 Add New Item
    div
      form(action="/item/add" method="post")
        label(for="description") Item Description
        input(type="text" name="description" id="description")
        button(type="Submit") Add Item

