mixin todoForm(item, saveUrl, cancelUrl)
  form(action=saveUrl method="post")
    div.input-container
      label(for="description") Item Description
      input(type="text" name="description" id="description" value=`${item.description}`)

    div.form-button-row
      a.button(href=cancelUrl) Cancel
      button.button.primary(type="Submit") Save
