extends ../layout

block content
    div.content
        h3 Register New User
        form(action = '/register' method = 'post')
            div.input-form-row
                div.input-container
                    label(for = 'first_name') First Name:
                    input(type = 'text' name = 'first_name' id = 'first_name')
                div.input-container
                    label(for = 'last_name') Last Name:
                    input(type = 'text' name = 'last_name' id = 'last_name')
            div.input-form-row
                div.input-container
                    label(for = 'email') Email:
                    input(type = 'text' name = 'email' id = 'email')
                div.input-container
                    label(for = 'password') Password:
                    input(type = 'password' name = 'password' id = 'password')

            div.form-button-row
                button.button.primary(type = 'submit') Register
        if error
            p.error= error
