extends ../layout

include ../mixins/itemList

block content
  div
    section
      header All Todos
      p #{moment().format('MMMM Do YYYY, h:mm:ss a')}
    +itemList('Incomplete Items',incompleteItems)

    div
        a(href="/item/add") Add New Item

    div.section-list
      +itemList('Completed Items', completeItems)




